.container{
    width: 9%;
    margin-top: 10px;
    display: flex;
    margin-left: 18%;
    background-color: white;
}
@media only screen and (min-width: 768px) and (max-width: 1199px){
    .container{
        width: 9%;
        margin-top: 10px;
        display: flex;
        margin-left: 0%;
    }
}

.left-nav-curriculum {
    display: inline-table;
    padding: 25px 0 0;
    z-index: 2;
}

.no-padding {
    padding: 0;
}

.no-padding {
    padding: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
.curriculumsearchsec{
    padding: 0 15px 10px 0;
}}

.curriculumsearchsec{
    display: inline-block;
    padding: 0 15px 10px 0;
    position: relative;
}

@media only screen and (min-width: 992px) and (max-width: 1199px){

.coursecurrisearch.searchicon {
    width: 150px;
}}

.coursecurrisearch {
    border: 1px solid #efeff1;
    border-radius: 50px;
    height: 32px;
    line-height: normal;
    padding: 0 35px 0 15px;
    width: 180px;
    display:flex;
}

@media only screen and (min-width: 992px) and (max-width: 1199px)
{.searchicon {
    top: 6px;
}}

.searchicon, .searchicon:focus, .searchicon:hover {
    cursor: pointer;
    text-decoration: none;
    outline: 0;
}

.searchicon {
    position: absolute;
    right: 30px;
    top: 4px;
    color:grey
}



@media only screen and (min-width: 992px) and (max-width: 1199px)
{.searchicon > i.searchicon {
font-size: 13px;
}}


.linkclass {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    line-height: 1.42857143;
    color: gray;
    padding: 20px;
    outline: 0!important;
    font-family: Roboto!important;
    position: relative;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 25px;
    border-radius: 0px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.linkclass:hover {
    background-color: white;
    cursor: pointer;
    color: #2F86EB;
    text-decoration: none;
}

.taga,
.taga:active {
    text-decoration: none;
    color: black;
    outline: 0!important;
    font-family: Roboto!important;
    font-size: medium;
}

.taga:active {
    color: #2F86EB;
}


.modulecontmain{
    display: inline-block;
    margin: 30px 0;
    width: 100%;
    
}
 .coursecontmain {
    display: inline-block;
    margin: 30px 0;
    width: 100%;   
}
.courseconttile {
    -webkit-box-shadow: 3px 3px 5px #ededed;
    box-shadow: 3px 3px 5px #ededed;
    display: block;
    margin: 0 0 20px;
    padding: 20px 40px 25px 20px;
    width: 100%;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    -webkit-transition: all .4s ease-in 0s;
    transition: all .4s ease-in 0s;
}
.courseconthead {
    -moz-box-align: center;
    -moz-box-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.courseconthead {
    -moz-box-align: center;
    -moz-box-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.coursetitlesec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    width: 55%;
}
.coursetitlesec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    width: 55%;
}
span.iconmain {
    display: inline-block;
    height: auto;
    width: 25px;
    margin-right: 17px;
}
i {
    color: #999;
    font-size: 24px;
}
[class*=" icon-"], [class^=icon-] {
    font-family: icomoon!important;
    speak-as: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
span.coursetitle {
    font-size: 15px;
    font-weight: 400;
    color: #333;
    word-break: break-word;
}
.modulestatussec{
    display: inline-block;
    text-align: right;
    width: 45%;
}
.status_blue {
    color: #446491;
}
p.coursecontdesc {
    color: #666;
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    line-height: 23px;
    margin: 10px 0 0 42px;
    width: 92%;
}
.icon-Lms-Recording:before {
    content: "\EC11";
}
.icon-Lms-Presentation:before {
    content: "\EC0E";
}
.icon-Lms-Data-folder:before {
    content: "\EC0D";
}
/*  */
@media only screen and (min-width: 992px) and (max-width: 1199px){

.modulecontmain{
    padding: 25px 28px 50px;
}
}

.modulecontmain {
    display: inline-block;
    padding: 30px 38px;
}
@media (min-width: 992px){.col-md-12 {
    width: 100%;
}}

@media (min-width: 992px){.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}}

@media (min-width: 768px){.col-sm-12 {
    width: 100%;
}}

@media (min-width: 768px){.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}}

.col-xs-12 {
    width: 100%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
